.app {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app h1 {
  color: black;
  font-size: var(--font-size-large);
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  height: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  height: var(--section-height);
  text-align: center;
}
.section-one {
  background: var(--primary-color);
}

.section-two {
  background: var(--quaternary-color);
  height: calc(var(--section-height) * 1.5);
}

.section-three {
  background: var(--white);
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--section-height) * 2.5);
  flex-grow: 1;
}

.bpm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.bpm-container span label {
  color: var(--black);
  font-size: var(--font-size-base);
}

.link {
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--link-color);
  transition: color 0.3s;
}

.about-link {
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--white);
  transition: color 0.3s;
}

.link:hover {
  color: var(--link-hover-color);
}

.about-link:hover {
  color: var(--black);
}

.italics {
  font-style: italic;
}

.modal-buttons {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  margin: 0;
  padding: 0;
}
